body {
    background-color: rgb(51, 51, 58);
    font: normal 15pt Arial;

}
header{
color: rgb(58, 4, 4);
text-align: center;
}
section {
    background-color: rgb(212, 199, 199);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}
footer
{
color: white;
text-align: center;
font-style: italic;
}